<div class="equipment-management-container">
  <h2>Gestione Equipaggiamento</h2>

  @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }

  <div class="list-header-actions">
    <h3>Equipaggiamento Attuale</h3>
    <button class="add-new-equipment-button" (click)="openAddEquipmentModal()">
      <i class="fas fa-plus-circle"></i> Aggiungi Nuovo Equipaggiamento
    </button>
  </div>

  @if (equipments?.length === 0 && !errorMessage) {
    <div class="no-data-message">Nessun equipaggiamento trovato. Aggiungine uno!</div>
  }
  @if (equipments && equipments.length > 0) {
    <div class="table-responsive"> <table class="equipment-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>ID Bicicletta</th>
        <th>Nome</th>
        <th>Tipo</th>
      </thead>
      <tbody>
        @for (equipment of equipments; track equipment.id) {
          <tr>
            <td>{{ equipment.id }}</td>
            <td>{{ equipment.bicycleId }}</td>
            <td>{{ equipment.name }}</td>
            <td>{{ equipment.type }}</td>
          </tr>
        }
      </tbody>
    </table>
    </div>
  }

  @if (showAddEquipmentModal) {
    <app-add-equipment-modal
      (closeModalEvent)="closeAddEquipmentModal()"
      (addEquipmentEvent)="handleAddEquipment($event)">
    </app-add-equipment-modal>
  }
</div>
