<div class="equipment-management-container">
  <h2>Bicycle Management</h2>

  @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }

  <div class="list-header-actions">
    <h3>Current Bicycles</h3>
    <button class="add-new-bike-button" (click)="openAddBikeModal()">
      <i class="fas fa-plus-circle"></i> Add New Bicycle
    </button>
  </div>

  @if (bicycles?.length === 0 && !errorMessage) {
    <div class="no-data-message">No bicycles found. Add one!</div>
  }
  @if (bicycles && bicycles.length > 0) {
    <table class="bicycle-table">
      <thead>
      <tr>
        <th>Chassis ID</th>
          <th>Parking Lot</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Category</th>
        <th>Hourly Price</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        @for (bicycle of bicycles; track bicycle.chassisId) {
          <tr>
            <td>{{ bicycle.chassisId }}</td>
            <td>{{ bicycle.currentParkingLotName }}</td>
            <td>{{ bicycle.brand }}</td>
            <td>{{ bicycle.model }}</td>
            <td>
              @if (bicycle.categories) {
                @for (cat of bicycle.categories; track cat) {
                  {{ cat }}{{ !$last ? ', ' : '' }}
                }
              }
            </td>
            <td>{{ bicycle.hourlyPrice | currency:'EUR':'symbol':'1.2-2' }}</td>
            <td>
              <span [ngClass]="{'status-available': bicycle.status === 'AVAILABLE', 'status-rented': bicycle.status === 'RENTED', 'status-maintenance': bicycle.status === 'UNDER_MAINTENANCE'}">
                {{ bicycle.status }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (showAddBikeModal) {
    <app-add-bike-modal
      [bicycleCategories]="bicycleCategories"
      (closeModalEvent)="closeAddBikeModal()"
      (addBikeEvent)="handleAddBike($event)">
    </app-add-bike-modal>
  }
</div>
